<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>MILO – Solicitud cambio de contraseña</title>
</head>
<body style="margin:0;padding:0">
<table width="600px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="{{ asset('static/site/images/head-mailing.jpg') }}"width="600" height="103" alt=""></td>
  </tr>
  <tr>
    <td style="margin:0;padding: 0 10px">
    	<h3 style="font-size:24px;font-weight:normal"><font face="Arial">¡Hola, [Nombre de Usuario], </font></h3>
	     <p style="font-size:12px;"><font face="Arial">Parece que olvidaste tu contraseña y llegaste hasta aquí. ¡Tranqui! La ayuda está en camino.</font></p>
        <p style="font-size:12px;"><font face="Arial">Queremos que vuelvas pronto, entra aquí: <a href="XXXXXXXXXXXXX"></a> y sigue los pasos. Recuperarás tu cuenta al toque.</font>        
         <p style="font-size:12px;"><font face="Arial">¡No te demores, por favor!</font></p>
        <p style="font-size:12px;"><font face="Arial">Te extrañamos :)</font></p>
    </td>
  </tr>
</table>
</body>
</html>
